/*RESET*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

a {
	text-decoration: none;
	color: currentColor;
}

ul, ol, menu {
	list-style: none;
}

body {
	font-family: 'Open Sans';
}

/*LAYOUT*/

.container-lg {
	max-width: 100%;
    margin: 0 auto;
}

.container {
	max-width: 1200px;
    margin: 0 auto;
}

.container-sm {
	max-width: 1000px;
    margin: 0 auto;
}

.row {
	display: flex;
    flex-wrap: wrap;
}

.col-40 {
	width: 40%;
}

.col-60 {
	width: 60%;
}

.col-33 {
	width: calc(4 * 100% / 12);
}

.col-100 {
	width: 100%;
}



/*HEADER*/

header ul {
	display: flex;
    gap: 25px;
    line-height: 25px;
}

header .row {
	justify-content: space-between;
    padding: 20px;
    align-items: center;
}

/*JUMBO*/

.jumbotron {
	background-color: #B4D0E7;
    padding-top: 50px;
    padding-bottom: 15px;
}

.jumbo-title {
	font-size: 70px;
    margin-bottom: 30px;
}

.jumbotron .col-40 {
	display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.arrow-icon {
	font-size: 50px;
}

.col-40 .button {
	margin: 20px 0;
}

/*SECTION - BUSINESS PLANS*/

.business-plans ul {
	display: flex;
    gap: 25px;
}


/*COMPONENTS*/

.button {
	background-color: #0061FF;
    color: white;
    padding: 5px 15px;
    display: inline-block;
}

.button.button-large {
    padding: 10px 15px;
}


/*DEBUG*/

.debug .container-lg {
    border: 1px solid black;
}

.debug .container-sm {
    border: 1px solid black;
}

.debug .col-40, 
.debug .col-60,
.debug .col-33 {
    border: 1px solid rgb(195, 195, 195);
    min-height: 500px;
}

.debug .col-100 {
    border: 1px solid rgb(195, 195, 195);
    min-height: 100px;

}

.plan-card {
    border: 1px solid rgb(0, 0, 0);
    margin: 20px;
}

.col-33 .plan-card {
    min-height: 500px;
}

.col-100 .plan-card {
    min-height: 200px;
}
